{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %} 

{% block main %}

{% if pagina == 'Exercicios' %}
    <section class="breadcrumb-area set-bg" data-setbg="{% static 'img/classes/classes-bg.jpg'%}">
{% else %}
    <section class="breadcrumb-area set-bg" data-setbg="{% static 'img/blog/blog-bg.jpg'%}">
{% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-content">
                        <h2>{{pagina}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="classes-section ">
        <div class="container" style="margin-top:50px;">
            
            <div class="text-center">
                <h2>{{ titulo }}</h2>
            </div>
            <br>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="text-center">                
                    <button class="btn btn-lg btn-danger" onclick="window.open(document.referrer,'_self');return false">Cancelar</button>
                    <button class="btn btn-lg btn-primary" type="submit">{{ botao }}</button>
                </div>
            </form>
        </div>
    </section>

{% endblock%}