
{% extends 'base.html' %}

{% load static %}

{% block main %}

<section class="breadcrumb-area set-bg" data-setbg="{% static 'img/classes/classes-bg.jpg'%}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-content">
                    <h2>Refeições</h2>
                    {% if request.user == object.user %}
                    <a href="{% url 'refeicao-update' object.pk %}">
                        <button type="button" class="btn btn-primary">Editar Refeicao</button>
                    </a>
                    <a href="{% url 'refeicao-delete' object.pk %}">
                        <button type="button" class="btn btn-danger">Excluir Refeicao</button>
                    </a>
                    {% else %}
                    
                    <div class="links">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'receitas' %}" class="rt-breadcrumb">Refeições</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Header Area Start ##### -->
    <div class="receipe-post-area section-padding-80" style="margin-top: 100px;">

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if object.video %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zvKybxhcO1g" title="YouTube video player" allowfullscreen></iframe>
                      </div>
                    {% else %}
                    <div class="receipe-slider owl-carousel">
                        {% if object.img %}
                            <img src="{{object.img.url}}" style="max-height: 435px;" alt="">
                            
                        {% else %}
                            <img src="{% static 'img/bg5.jpg' %}" alt="">
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>{{object.criado_em}}</span>
                            <h2>{{object.nome}}</h2>
                            <div class="receipe-duration">
                                <h6>Tempo de Preparo: {{object.tempo_preparo}}</h6>
                                <h6>Calorias: {{object.calorias}}</h6>
                                <h6>Categoria: {{object.categoria}}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="btn delicious-btn">Criador: {{object.user}}</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <h4>Instruções de Preparo:</h4>
                        <br>
                        <br>
                        <div class="single-preparation-step d-flex">
                            <p>{{object.preparo}}</p>
                        </div>
                    </div>
                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredientes</h4>
                            <p>{{object.ingredientes}}</p>
                            
                        </div>
                    </div>
                </div>

        </div>
    </div>
   
    <script src='{% static "js/plugin/jquery-2.2.4.min.js"                     %}'></script>
    <script src='{% static "js/plugin/popper.min.js"        %}'></script>
    <script src='{% static "js/plugin/plugins.js"        %}'></script>
    <script src='{% static "js/active.js"        %}'></script>


{% endblock %}