{% extends 'base.html' %}

{% load static %}

{% block main %}
    <!-- Search Bar End -->
    <!-- Top Social Begin -->
  
    <!-- Top Social End -->
    <!-- Hero Slider Section Begin -->
    <section class="hero-slider">
        <div class="slide-items owl-carousel">
            <div class="single-slide set-bg active" data-setbg="{% static 'img/bg.jpg' %}">
                <a href="https://www.youtube.com/watch?v=SEVuD_djKrU" class="play-btn pop-up"><i class="fa fa-play"></i></a>
                <h1>Meu Treino</h1>
                <a href="#" class="primary-btn">Ver Mais</a>
            </div>
            <div class="single-slide set-bg" data-setbg= "{% static 'img/bg-2.jpg' %}">
                <a href="https://www.youtube.com/watch?v=SEVuD_djKrU" class="play-btn pop-up"><i class="fa fa-play"></i></a>
                <h1>Planos de Treino</h1>
                <a href="{% url 'treinos' %}" class="primary-btn">Ver Mais</a>
            </div>
            <div class="single-slide set-bg" data-setbg="{% static 'img/bg-3.jpg' %}">
                <a href="https://www.youtube.com/watch?v=SEVuD_djKrU" class="play-btn pop-up"><i class="fa fa-play"></i></a>
                <h1>Planos de dieta</h1>
                <a href="{% url 'receitas' %}" class="primary-btn">Ver Mais</a>
            </div>
        </div>
    </section>
    <!-- Hero Slider End -->
    <!-- Features Section Begin -->
    <section class="features-section spad">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url 'exercicios' %}">
                    <div class="single-features">
                        <div class="features-img">
                            <img src="{% static 'img/features/feature-1.jpg'%}" alt="">
                        </div>
                        <div class="feature-text">
                            <div class="feature-icon">
                                <img src="{% static 'img/features/icon-1.png'%}" alt="">
                            </div>
                            <h5>Exercicios</h5>
                            <p>Uma ampla gama de exercicios para te auxiliar a montar treinos de alto desempenho.</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'treinos' %}">
                    <div class="single-features">
                        <div class="features-img">
                            <img src="{% static 'img/features/feature-2.jpg'%}" alt="">
                        </div>
                        <div class="feature-text">
                            <div class="feature-icon">
                                <img src="{% static 'img/features/icon-2.png'%}" alt="">
                            </div>
                            <h5>Planos de Treino</h5>
                            <p>Uma ampla series de Planos de Treinos, que vao te ajudar a conquistar seus objetivos e evoluir seu corpo.</p>
                        </div>
                    </div>
                </div>
                </a>
                <div class="col-md-4">
                    <div class="single-features">
                        <a href="{% url 'plano-dieta' %}">
                        <div class="features-img">
                            <img src="{% static 'img/planodieta.jpeg'%}" alt="">
                        </div>
                        <div class="feature-text">
                            <div class="feature-icon">
                                <img src="{% static 'img/features/icon-3.png'%}" alt="">
                            </div>
                            <h5>Planos de Dietas</h5>
                            <p>Crie planos de dieta personalizados para evoluir ainda mais o seu corpo.</p>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->
    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Features</span>
                        <h2>Exercícios</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service">
                        <img src="{% static 'img/icon-1.png'%}" alt="">
                        <h5>Pilates</h5>
                        <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                            pretium.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service c-text">
                        <img src="{% static 'img/icon-2.png'%}" alt="">
                        <h5>Free Lifting</h5>
                        <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                            pretium.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service">
                        <img src="{% static 'img/icon-3.png'%}" alt="">
                        <h5>Yoga</h5>
                        <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                            pretium.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service">
                        <img src="{% static 'img/icon-4.png'%}" alt="">
                        <h5>Spinning</h5>
                        <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                            pretium.</p>
                    </div>
                </div>
            </div>
            <div class="row p-70">
                <div class="col-lg-12 text-center">
                    <a href="{% url 'exercicios' %}" class="service-btn primary-btn">Ver todos exercicios</a>
                </div>
            </div>
        </div>
    </section>
  
    
{% endblock %}