{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Plataforma para criar planos de treinos e dietas personalizadas. ">
    <meta name="keywords" content="Meu Treino">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meu Treino</title>

    <!-- Google Font 
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700,900" rel="stylesheet">-->

    <!-- Css Styles -->
    <link rel="stylesheet" href= '{% static "css/bootstrap.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'type="text/css">
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "css/barfiller.css"   %}'type="text/css">
    <link rel="stylesheet" href='{% static "css/slicknav.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css">


    <script>
        $(document).ready(function(){
            $('[data-bs-toggle="tooltip"]').tooltip({ placement : "top" });   
        });
    </script>
    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    {% block header %}
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-menu">     
                        <nav class="navbar navbar-expand-lg ">
                            <div class="footer-icon-img">
                                <img src='{% static "img/footer-icon.png" %}' alt="">
                            </div>
                            <a class="navbar-brand " href="{% url 'home' %}">MeuTreino</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                            
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'exercicios' %}">Exercícios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'treinos' %}">Treinos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'receitas' %}">Receitas</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'plano-dieta' %}">Dieta</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'sobre-nos' %}">Sobre</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contato' %}">Contato</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Perfil
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a>
                                      <a class="dropdown-item" href="{% url 'exercicios-user' %}">Meus Exercícios</a>
                                      <a class="dropdown-item" href="{% url 'treinos-user' %}">Meus Treinos</a>
                                      <a class="dropdown-item" href="{% url 'receitas-user' %}">Minhas Receitas</a>
                                      <a class="dropdown-item" href="{% url 'plano-dieta' %}">Plano de Dieta</a>
                                      <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                                    </div>
                                  </li>
                                    
                                {% else %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Login
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                                      <a class="dropdown-item" href="{% url 'cadastro-user' %}">Registre-se</a>
                                    </div>
                                  </li>
                                  {% endif %}

                              </ul>
                           
                            </div>
                          </nav> 

                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    
    {% endblock %}

    {% block main %}  
        
    {% endblock %}      
   

    {% block footer %}

    <footer class="footer-section set-bg" data-setbg='{% static "img/footer-bg.jpg"%}'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'exercicios' %}">Exercicios</a></li>
                                <li><a href="{% url 'treinos' %}">Treinos</a></li>
                                <li><a href="{% url 'receitas' %}">Dietas</a></li>
                                <li><a href="{% url 'sobre-nos' %}">About us</a></li>
                                <li><a href="{% url 'contato' %}">Contato</a></li>
                            </ul>
                        </div>
                      
                        <div class="social-links">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <div class="footer-icon-img">
                            <img src='{% static "img/footer-icon.png" %}' alt="">
                        </div>
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
                            All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> 
                            by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    
    {% endblock %}

    <!-- Js Plugins -->
    <script src='{% static "js/jquery-3.3.1.min.js"         %}' ></script>
    <script src='{% static "js/bootstrap.min.js"            %}' ></script>
    <script src='{% static "js/jquery.slicknav.js"          %}' ></script>
    <script src='{% static "js/owl.carousel.min.js"         %}' ></script>
    <script src='{% static "js/jquery.magnific-popup.min.js"%}'></script>
    <script src='{% static "js/circle-progress.min.js"      %}'></script>
    <script src='{% static "js/jquery.barfiller.js"         %}'></script>
    <script src='{% static "js/main.js"                     %}'></script>

  
 

</body>

</html>